:host {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.content {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}
