<ngx-json-viewer
    *ngIf="isDataValidForJsonViewer(data); else unsupportedValueTemplate"
    [expanded]="isExpanded"
    [json]="data">
</ngx-json-viewer>

<ng-template #unsupportedValueTemplate>
    <b class="unsupported-json-viewer-value">
        <span *ngIf="isDataEmptyObject(data)" [innerText]="'{ EMPTY_OBJECT }'"></span>
        <ng-container *ngIf="isDataEmptyArray(data)">[ EMPTY_ARRAY ]</ng-container>
        <ng-container *ngIf="isDataUndefined(data)">undefined</ng-container>
        <ng-container *ngIf="isDataNull(data)">null</ng-container>
    </b>
</ng-template>
