:host {
    display: block;
}

.title {
    margin: 0px 0px 5px 0px;
}

.timeline {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.timeline-item {
    margin: 0px 2px;
}
