<app-toolbar></app-toolbar>

<mat-tab-group
    class="content"
    [selectedIndex]="(selectedTabIndex$ | async)"
    [animationDuration]="'0ms'"
    (selectedIndexChange)="onOperationItemViewTabClick($event)">
    <mat-tab [label]="'States'">
        <ng-template matTabContent>
            <app-full-state-info-filters></app-full-state-info-filters>
            <app-state-list></app-state-list>
        </ng-template>
    </mat-tab>

    <mat-tab [label]="'Actions'">
        <ng-template matTabContent>
            <app-action-list></app-action-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>
