<app-toolbar></app-toolbar>

<app-filters></app-filters>

<mat-selection-list
    *ngIf="(stateShortInfoArray$ | async) as stateShortInfoArray"
    [multiple]="false">
    <mat-list-option
        *ngFor="let stateShortInfo of stateShortInfoArray; trackBy: trackByFn"
        class="list-option"
        [class]="getListItemCssClass(stateShortInfo)"
        (click)="onListItemClick(stateShortInfo.className)">
        <div
            mat-line
            class="class-name">
            {{ stateShortInfo.className }}

            <app-operation-type-chip
                class="operation-type-chip"
                [operationTypeId]="stateShortInfo.operationType.id">
            </app-operation-type-chip>
        </div>

        <div
            mat-line
            class="data-type"
            [style.color]="stateShortInfo.dataType.color">
            {{ stateShortInfo.dataType.name }}
        </div>
    </mat-list-option>
</mat-selection-list>
