<mat-selection-list
    *ngIf="(stateShortInfoArray$ | async) as stateShortInfoArray"
    [multiple]="false">
    <mat-list-option
        *ngFor="let stateShortInfo of stateShortInfoArray"
        (click)="onListItemClick(stateShortInfo.className)">
        <mat-icon mat-list-icon>code</mat-icon>

        <div
            mat-line
            class="class-name">
            {{ stateShortInfo.className }}
        </div>

        <div
            mat-line
            class="data-type"
            [style.color]="stateShortInfo.dataType.color">
            {{ stateShortInfo.dataType.name }}
        </div>
    </mat-list-option>
</mat-selection-list>
