<ng-container *ngIf="(filteredOperations$ | async) as operations">
    <mat-selection-list
        *ngIf="operations.length; else emptyStateListTemplate"
        [multiple]="false">
        <mat-list-option
            *ngFor="let operation of operations; trackBy: trackByFn"
            class="list-item"
            [highlightWhenDataChanges]="operation"
            [class]="getListItemClass(operation)"
            (click)="onListItemClick(operation.classId)">
            <div
                mat-line
                class="class-name">
                {{ operation.className }}

                <ng-container
                    *ngIf="operation.classContext">
                    [{{ operation.classContext }}]
                </ng-container>

                <app-operation-type-chip
                    class="operation-type-chip"
                    [operationTypeId]="operation.type">
                </app-operation-type-chip>
            </div>

            <div mat-line>
                <span
                    *ngIf="getDataTypeByName(operation.dataType) as dataType"
                    class="data-type"
                    [style.color]="dataType.color">
                    {{ dataType.name }}
                </span>|

                updated at:

                <span class="date">
                    {{ operation.date | date:'hh:mm:ss' }}
                </span>
            </div>
        </mat-list-option>
    </mat-selection-list>
</ng-container>

<ng-template #emptyStateListTemplate>
    <div class="empty-states">
        There are no states have been created yet. Maybe they have been filtered.
    </div>
</ng-template>
