<app-toolbar class="toolbar"></app-toolbar>

<div class="content">
    <ng-container
        *ngIf="(selectedTimelineItem$ | async) as selectedTimelineItem"
        [ngSwitch]="selectedTimelineItem.type">
        <app-historical-operation
            *ngSwitchCase="timelineItemTypeEnum.Historical"
            class="operation-viewer"
            [operation]="selectedTimelineItem.operation!">
        </app-historical-operation>

        <app-realtime-operation
            *ngSwitchCase="timelineItemTypeEnum.Realtime"
            class="operation-viewer">
        </app-realtime-operation>
    </ng-container>

    <app-timeline
        class="timeline">
    </app-timeline>
</div>
