:host {
    display: block;
}

.description {
    color: rgb(134, 0, 0);
    font-size: 12px;
}

.content {
    color: gray;
    font-size: 20px;

    .method-name {
        line-height: 22px;
    }
}
