<app-title class="title">
    <mat-icon title-icon>event</mat-icon>

    <span>{{ operation.date | date:'hh:mm:ss' }}</span>

    <span
        *ngIf="operation.actionName"
        class="action-name">
        [{{ operation.actionName }}]
    </span>

    <app-operation-type-chip
        class="chip"
        [operationTypeId]="operation.type">
    </app-operation-type-chip>
</app-title>

<app-action-buttons
    [operation]="operation">
</app-action-buttons>

<app-value-viewer
    [data]="operation.data"
    [isExpanded]="(isValueViewerExpanded$ | async)!">
</app-value-viewer>
