.list-item {
    .date {
        color: gray;
    }

    .data-type {
        font-weight: bold;
    }

    &.destroyed {
        .class-name {
            text-decoration: line-through;
            color: gray;
        }

        .data-type {
            color: gray !important;
        }
    }
}

.empty-states {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}
