<ng-container *ngIf="(lastOperation$ | async) as lastOperation">
    <app-title class="title">
        <mat-icon
            title-icon
            class="icon">
            radio_button_checked
        </mat-icon>
    
        <span>Realtime</span>
    
        <app-operation-type-chip
            class="chip"
            [operationTypeId]="lastOperation.type">
        </app-operation-type-chip>
    </app-title>
    
    <app-stacktrace-button
        class="stacktrace-button"
        [operation]="lastOperation">
    </app-stacktrace-button>
    
    <app-value-viewer
        [data]="lastOperation.data">
    </app-value-viewer>
</ng-container>
