<ng-container *ngIf="(filters$ | async) as filters">
    <mat-form-field [appearance]="'fill'">
        <mat-label>Search</mat-label>

        <input
            matInput
            [value]="filters.searchString"
            (input)="onSearchChange($event)" />
    </mat-form-field>

    <mat-form-field [appearance]="'fill'">
        <mat-label>Last Operation Type</mat-label>

        <mat-select (selectionChange)="onOperationSelectValueChange($event.value)">
            <mat-option [value]="null">All</mat-option>

            <mat-option
                *ngFor="let operationType of operationTypeArray"
                [value]="operationType.id"
                [style.color]="operationType.color">
                {{ operationType.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>
