:host {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;

    > * {
        width: 135px;
        margin: 0px 5px;
    }
}
