:host {
    display: block;
}

.logo {
    height: 38px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
    box-sizing: border-box;
}

.version {
    font-size: 11px;
}

.spacer {
    flex: 1 1 auto;
}
